/*

------------------------------------------
| 1. Fonts                               |
------------------------------------------
| 2. Global Document Settings            |
------------------------------------------
| 3. Navigation                          |
------------------------------------------
| 4. Header                              |
------------------------------------------
| 5. About                               |
------------------------------------------
| 6. Contact                             |
------------------------------------------
| 7. Footer                              |
------------------------------------------
| 7. Credit                              |
------------------------------------------

*/

/* Fonts */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* End Fonts */

/* Global */
:root {
  --black: #37474F;
  --white: #fafafa;
  --primary-color: #adc6e1;
  --secondary-color: #2b3b47;
  --highlight-color: #e84621;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;;
  font-size: 2.4em;
  font-weight: 800;
  color: var(--black);
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

a, 
a:visited,
a:focus,
a:hover,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--black);
  font-style: normal;
  text-decoration: none;
}

.document-container {
  margin: auto;
  width: 1200px;
  padding: 0
}

@media only screen and (max-width: 1200px) {
  .document-container {
    width: 960px;
  }
}

@media only screen and (max-width: 960px) {
  .document-container {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .document-container {
    width: 550px;
  }
}

@media only screen and (max-width: 550px) {
  .document-container {
    width: 380px;
  }
}

@media only screen and (max-width: 380px) {
  .document-container {
    width: 320px;
  }
}

@media only screen and (max-width: 320px) {
  .document-container {
    width: 300px;
  }
}

/* End Global */

/* Navigation */
  nav {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: fixed;
    z-index: 100
  }

  .navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-wrapper {
    order: 1;
    flex: 50%
  }

  .logo {
    width: 175px;
    height: auto;
  }

  .menu-wrapper {
    order: 2;
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center
  }

  @media only screen and (max-width: 320px) {
    .navigation-wrapper {
      justify-content: center
    }
    .logo-wrapper {
      flex: 100%;
      display: flex;
      justify-content: center;
    }

    .menu-wrapper {
      display: none
    }
  }

  .menu-ul {
    display: flex;
    padding: 15px 0
  }

  .about-li {
    order: 1;
    padding-right: 10px
  }

  .contact-li {
    order: 2
  }

/* End Navigation */

/* Header */
  header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(-35deg, var(--primary-color), var(--secondary-color), var(--highlight-color));
    background-size: 400% 400%;
    animation: header-gradient 15s ease infinite; */
  }

  .header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  @keyframes header-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%
    }
}

  .header-copy-wrapper {
    order: 1;
    flex: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-copy-wrapper h1 {
    font-size: 3em;
    padding-left: 20px
  }

  .top-header-h1 {
    font-weight: 300
  }

  .bottom-header-h1 {
    font-weight: 900
  }

  .header-image-wrapper {
    order: 2;
    flex: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blob-background {
    --width: calc((100vw*.8)/2);
    width: var(--width);
    height: calc(var(--width)/2);
    background-image: url('../images/blob-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: blob-transform 20s linear infinite;
    position: relative;
  }

  @media only screen and (max-width: 550px) {
    .header-copy-wrapper {
      flex: 100%;
      height: 30%;
      align-items: flex-end
    }

    .header-image-wrapper {
      flex: 100%;
      height: 70%;
      align-items: flex-start
    }

    .blob-background {
      --width: 90vw
    }
  }

  @keyframes blob-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
    }

  .tow-truck {
    --truck-width: calc(var(--width) * 0.665625);
    position: absolute;
    bottom: calc(var(--width) * -0.02);
    left: calc(var(--truck-width) - (var(--width)/2));
    width: var(--truck-width);
    height: calc(var(--truck-width) * 0.2706093967404767);
    background-image: url('../images/action-towing-truck.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tow-woman {
    --woman-width: calc(var(--width) * 0.1325);
    position: absolute;
    bottom: calc(var(--width) * -0.02);
    left: calc(var(--width) * 0.0575);
    width: var(--woman-width);
    height: calc(var(--woman-width) * 1.216981132075472);
    background-image: url('../images/tow-woman.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }

/* End Header */

/* About */
  #about {
    width: 100%;
    height: auto;
    border-bottom: 4px solid var(--highlight-color)
  }

  .about-header-container {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 20px 0
  }

  .about-header-container h2 {
    color: var(--white);
  }

  .car-container {
    background-color: var(--primary-color);
    padding-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center
  }

  .about-tow-truck {
    --width: 912px;
    background-image: url("../images/about-header-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: var(--width);
    height: calc(var(--width) * 0.5010964912280702);
  }

/* End About */

/* Contact */
  #contact {
    width: 100%;
    height: 800px;
  }

/* End Contact */

/* Footer */

footer {
  width: 100%;
  background: transparent;
}

footer .document-container p {
  margin: 0 auto;
  padding: 15px 0;
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  color: var(--black);
  text-align: center;
}
/* End Footer */

/* 
______ _____ _____ _____ _____  _   _  ___________                                     
|  _  \  ___/  ___|_   _|  __ \| \ | ||  ___|  _  \                                    
| | | | |__ \ `--.  | | | |  \/|  \| || |__ | | | |                                    
| | | |  __| `--. \ | | | | __ | . ` ||  __|| | | |                                    
| |/ /| |___/\__/ /_| |_| |_\ \| |\  || |___| |/ /                                     
|___/ \____/\____/ \___/ \____/\_| \_/\____/|___/ 
  ___   _   _______     ______ _   _ _____ _    _____                                  
 / _ \ | \ | |  _  \    | ___ \ | | |_   _| |  |_   _|                                 
/ /_\ \|  \| | | | |    | |_/ / | | | | | | |    | |                                   
|  _  || . ` | | | |    | ___ \ | | | | | | |    | |                                   
| | | || |\  | |/ /     | |_/ / |_| |_| |_| |____| |                                   
\_| |_/\_| \_/___/      \____/ \___/ \___/\_____/\_/                                  
________   __       ___  ___  _____  _   __     _       ___  ______  _____ _____ _   _ 
| ___ \ \ / /      |_  |/ _ \/  __ \| | / /    | |     / _ \ | ___ \/  ___|  ___| \ | |
| |_/ /\ V /         | / /_\ \ /  \/| |/ /     | |    / /_\ \| |_/ /\ `--.| |__ |  \| |
| ___ \ \ /          | |  _  | |    |    \     | |    |  _  ||    /  `--. \  __|| . ` |
| |_/ / | |      /\__/ / | | | \__/\| |\  \    | |____| | | || |\ \ /\__/ / |___| |\  |
\____/  \_/      \____/\_| |_/\____/\_| \_/    \_____/\_| |_/\_| \_|\____/\____/\_| \_/

github.com/mememoomoo/
linkedin.com/in/jack-larsen-760302138/

*/
