/*

------------------------------------------
| 1. Fonts                               |
------------------------------------------
| 2. Global Document Settings            |
------------------------------------------
| 3. Navigation                          |
------------------------------------------
| 4. Header                              |
------------------------------------------
| 5. About                               |
------------------------------------------
| 6. Contact                             |
------------------------------------------
| 7. Footer                              |
------------------------------------------
| 7. Credit                              |
------------------------------------------

*/

/* Fonts */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("/assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* End Fonts */

/* Global */
:root {
  --black: #37474F;
  --white: #fafafa;
  --primary-color: #adc6e1;
  --secondary-color: #2b3b47;
  --highlight-color: #e84621;
}

html {
  background-color: var(--white);
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;;
  font-size: 2.4em;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

a, 
a:visited,
a:focus,
a:hover,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--black);
  font-style: normal;
  text-decoration: none;
}

.button {
  background-color: var(--highlight-color);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3em;
  letter-spacing: 2px;
  width: 180px;
  height: auto;
  padding: 15px;
  border-radius: 35px;
  border: 4px solid var(--highlight-color)
}

.button:hover,
.button:focus {
  background-color: var(--white);
  color: var(--highlight-color);
  font-weight: 900;
  font-size: 1.3em;
  letter-spacing: 2px;
}

.phone-icon {
  --width: 68px;
  width: var(--width);
  height: var(--width);
  border-radius: 41px;
  background-color: var(--white);
  border: 4px solid var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px
}

.phone-icon img {
  width: 25px;
  height: 35px;
}


.document-container {
  margin: auto;
  width: 1200px;
  padding: 0
}

@media only screen and (max-width: 1200px) {
  .document-container {
    width: 960px;
  }
}

@media only screen and (max-width: 960px) {
  .document-container {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .document-container {
    width: 550px;
  }
}

@media only screen and (max-width: 550px) {
  .document-container {
    width: 380px;
  }
}

@media only screen and (max-width: 380px) {
  .document-container {
    width: 320px;
  }
}

@media only screen and (max-width: 320px) {
  .document-container {
    width: 300px;
  }
}

/* End Global */

/* Navigation */
  nav {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100;
    border-bottom: 4px solid var(--secondary-color)
  }

  .menu-item:hover,
  .menu-item:focus {
    color: var(--highlight-color)
  }

  .about-li {
    margin-right: 5px;
  }
  
  .contact-li {
    margin-left: 5px
  }

  .about-li:hover,
  .about-li:focus,
  .contact-li:hover,
  .contact-li:focus {
    transform: scale(1.2);
    transition: all ease 500ms;
  }

  .nav-background {
    width: 100%;
    height: auto;
    background-color: var(--white);
  }

  .navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }

  .logo-wrapper {
    order: 1;
    flex: 50%;
    margin: 10px 0
  }

  .logo {
    width: 175px;
    height: auto;
  }

  .menu-wrapper {
    order: 2;
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center
  }

  @media only screen and (max-width: 320px) {
    .navigation-wrapper {
      justify-content: center
    }
    .logo-wrapper {
      flex: 100%;
      display: flex;
      justify-content: center;
    }

    .menu-wrapper {
      display: none
    }
  }

  .menu-ul {
    display: flex;
    padding: 15px 0
  }

  .about-li {
    order: 1;
    padding-right: 10px
  }

  .contact-li {
    order: 2
  }

/* End Navigation */

/* Header */
  header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-copy-wrapper {
    order: 1;
    flex: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap
  }

  .header-title {
    order: 1;
    width: calc(50vw - (25vw * 0.5));
    display: flex;
    align-items: center
  }

  .header-title h1 {
    font-size: 3em;
    padding-left: 20px
  }

  .top-header-h1 {
    font-weight: 300
  }

  .bottom-header-h1 {
    font-weight: 900
  }

  .header-button-container {
    order: 2;
    height: auto;
    width: calc(50vw - (25vw * 0.5));
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .header-button-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-left: 25px
  }

  .header-image-wrapper {
    order: 2;
    flex: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blob-background {
    --width: calc((100vw*.8)/2);
    width: var(--width);
    height: calc(var(--width)/2);
    background-image: url('../images/blob-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: blob-transform 20s linear infinite;
    position: relative;
  }

  @media only screen and (max-width: 550px) {
    .header-copy-wrapper {
      flex: 100%;
      height: 30%;
      align-items: flex-end
    }

    .header-image-wrapper {
      flex: 100%;
      height: 70%;
      align-items: flex-start
    }

    .blob-background {
      --width: 90vw
    }
  }

  @keyframes blob-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
    }

  .tow-truck {
    --truck-width: calc(var(--width) * 0.665625);
    position: absolute;
    bottom: calc(var(--width) * -0.02);
    left: calc(var(--truck-width) - (var(--width)/2));
    width: var(--truck-width);
    height: calc(var(--truck-width) * 0.2706093967404767);
    background-image: url('../images/action-towing-truck.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tow-woman {
    --woman-width: calc(var(--width) * 0.1325);
    position: absolute;
    bottom: calc(var(--width) * -0.02);
    left: calc(var(--width) * 0.0575);
    width: var(--woman-width);
    height: calc(var(--woman-width) * 1.216981132075472);
    background-image: url('../images/tow-woman.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }

/* End Header */

/* About */
  #about {
    width: 100%;
    height: auto;
  }

  .about-header-container {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 20px 0
  }

  .about-header-container h2 {
    color: var(--white);
  }

  .car-container {
    background-color: var(--primary-color);
    padding-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center
  }

  .about-tow-truck {
    --width: 912px;
    background-image: url("../images/about-header-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: var(--width);
    height: calc(var(--width) * 0.5010964912280702);
  }

  .about-wrapper {
    display: flex;
    align-items: center;
  }

  .about-header-copy {
    order: 1;
    flex: 50%;
    width: 100%;
    height: auto;
  }

  .about-button-container {
    order: 2;
    flex: 50%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    position: relative
  }

  .services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid var(--highlight-color);
    padding: 50px 0
  }

  .services-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
  }

  .service {
    background-color: #e0e0e0;
    width: 380px;
    height: 125px;
    border-radius: 60px;
    margin: 7px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .service:hover,
  .service:focus {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1)
    }
  }

  .service-image-wrapper {
    order: 1;
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border-radius: 100px;
    margin: 5px 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
  }

  .flat-tire {
    background-image: url("../images/flat-tire.svg");
    width: 70px;
    height: 70px
  }

  .key-lock-out {
    background-image: url("../images/key-lock-out.svg");
    width: 56px;
    height: 65px
  }

  .fuel {
    background-image: url("../images/fuel.svg");
    width: 51px;
    height: 67px;
  }

  .towing {
    background-image: url("../images/towing.svg");
    width: 80px;
    height: 33px;
  }

  .jump-start {
    background-image: url("../images/jump-start.svg");
    width: 58px;
    height: 49px;
  }

  .plug-fault {
    background-image: url("../images/plug-fault.svg");
    width: 58px;
    height: 61px
  }

  .heating-problem {
    background-image: url("../images/heating-problem.svg");
    width: 69px;
    height: 69px
  }

  .car-repair {
    background-image: url("../images/car-repair.svg");
    width: 59px;
    height: 56px;
  }

  .service-copy-wrapper {
    order: 2;
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px
  }

  .service-copy-wrapper p {
    padding-right: 10px;
  }

  .service-copy-wrapper h4 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3em;
    padding-bottom: 5px
  }

/* End About */

/* Contact */
  #contact {
    width: 100%;
    height: 800px;
    display: flex;
  }

  .contact-info-wrapper {
    order: 1;
    flex: 50%;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--secondary-color);
  }

  .contact-info {
    background-color: var(--white);
    border-radius: 20px;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
  }

  .contact-title {
    margin-bottom: 10px
  }

  .contact-hours {
    text-align: center;
    margin-bottom: 10px
  }

  .contact-hours h4 {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 5px
  }

  .contact-email {
    text-align: center;
    margin-bottom: 10px;
  }

  .contact-email p,
  .phone-number,
  .email-address {
    font-size: 1em
  }

  .contact-map {
    margin-bottom: 10px;
  }

  .contact-map iframe {
    width: 100%
  }

  .contact-address {
    text-align: center;
    margin-bottom: center
  }

  .directions-button-container {
    margin-top: 30px;
  }

  .directions-button {
    background-color: var(--highlight-color);
    color: var(--white)!important;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 2px;
    width: 180px;
    height: auto;
    padding: 15px;
    border-radius: 35px;
    border: 4px solid var(--highlight-color)
  }

  .directions-button:hover,
.directions-button:focus {
  background-color: var(--white);
  color: var(--highlight-color)!important;
  font-weight: 900;
  font-size: 1.3em;
  letter-spacing: 2px;
}

  .contact-image-wrapper {
    order: 2;
    flex: 50%;
    background-color: var(--white);
    width: 100%;
    height: auto;
    position: relative
  }

  .customer-service {
    --width: 40vw;
    --height: calc(var(--width) * 0.8608923884514436);
    width: var(--width);
    height: var(--height);
    background-image: url("../images/customer-service.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: calc(50% - var(--height)/2);
    left: -70px;
  }

  .contact-blob {
    --width: 25vw;
    width: var(--width);
    height: var(--width);
    position: absolute;
    background-color: var(--primary-color);
    animation: blobs 12s linear infinite;
  }

  .blob-one {
    top: calc((var(--width)/2) * -1);
    left: calc((var(--width)/2) * -1);
  }

  .blob-two {
    bottom: calc((var(--width)/2) * -1);
    right: calc((var(--width)/2) * -1)
  }

  @keyframes blobs{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}


/* End Contact */

/* Footer */

footer {
  width: 100%;
  background: transparent;
  border-top: 10px solid var(--highlight-color);
}

footer .document-container p {
  margin: 0 auto;
  padding: 15px 0;
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  color: var(--black);
  text-align: center;
}
/* End Footer */

/* 
______ _____ _____ _____ _____  _   _  ___________                                     
|  _  \  ___/  ___|_   _|  __ \| \ | ||  ___|  _  \                                    
| | | | |__ \ `--.  | | | |  \/|  \| || |__ | | | |                                    
| | | |  __| `--. \ | | | | __ | . ` ||  __|| | | |                                    
| |/ /| |___/\__/ /_| |_| |_\ \| |\  || |___| |/ /                                     
|___/ \____/\____/ \___/ \____/\_| \_/\____/|___/ 
  ___   _   _______     ______ _   _ _____ _    _____                                  
 / _ \ | \ | |  _  \    | ___ \ | | |_   _| |  |_   _|                                 
/ /_\ \|  \| | | | |    | |_/ / | | | | | | |    | |                                   
|  _  || . ` | | | |    | ___ \ | | | | | | |    | |                                   
| | | || |\  | |/ /     | |_/ / |_| |_| |_| |____| |                                   
\_| |_/\_| \_/___/      \____/ \___/ \___/\_____/\_/                                  
________   __       ___  ___  _____  _   __     _       ___  ______  _____ _____ _   _ 
| ___ \ \ / /      |_  |/ _ \/  __ \| | / /    | |     / _ \ | ___ \/  ___|  ___| \ | |
| |_/ /\ V /         | / /_\ \ /  \/| |/ /     | |    / /_\ \| |_/ /\ `--.| |__ |  \| |
| ___ \ \ /          | |  _  | |    |    \     | |    |  _  ||    /  `--. \  __|| . ` |
| |_/ / | |      /\__/ / | | | \__/\| |\  \    | |____| | | || |\ \ /\__/ / |___| |\  |
\____/  \_/      \____/\_| |_/\____/\_| \_/    \_____/\_| |_/\_| \_|\____/\____/\_| \_/

github.com/mememoomoo/
linkedin.com/in/jack-larsen-760302138/

*/
